package components

templ Footer() {
	<footer class="px-8 bg-base-100">
		<div class="navbar">
			<div class="navbar-start">
				<p>
					Copyright &copy; <script>document.write(new Date().getFullYear())</script>
					- PokeChat Universe
				</p>
			</div>
			<div class="navbar-end">
				<p>
					<a href="https://github.com/siddhant-vij/PokeChat-Universe" target="_blank" class="link link-primary">View on GitHub</a>
				</p>
			</div>
		</div>
	</footer>
}
