package pages

templ PokedexChat(pokemonName string) {
	<div class="flex-grow">
		<div class="text-center">
			<div class="pt-48">
				if pokemonName == "" {
					<h1 class="text-3xl font-bold">Chat Page</h1>
				} else {
					<h1 class="text-3xl font-bold">Chat with { pokemonName }</h1>
				}
			</div>
		</div>
	</div>
}
