package pages

import "github.com/siddhant-vij/PokeChat-Universe/controllers/pokedex/utils"

templ PokedexAvailable(pokedexAvailable []utils.PokemonDisplay) {
	@PASearchAndSort()
	@PAListOfPokemons(pokedexAvailable)
	@PAvailLoadMoreIdAscButton()
}
