package test

templ Base() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/cmd/web/public/css/output.css" rel="stylesheet"/>
			<script src="/cmd/web/public/js/htmx.min.js" defer></script>
			<title>PokeChat Universe</title>
		</head>
		<body>
			@HelloForm()
		</body>
	</html>
}
